  .main {
    background-color: #361c02; /* For browsers that do not support gradients */
    height: 100%;
    /*background-image: linear-gradient(#361c02, burlywood);*/
    background-image: linear-gradient(
    to bottom, 
    #361c02 0px,
    #361c02 400px,
    burlywood 100%
    );
  }

  .nav-link {
    color: burlywood;
  }

  .main_title {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: burlywood;
  }
  
  .nav {
    justify-content: center;
    font-weight: bold;
  }

p {
    color:whitesmoke;
    width: 800px;
    text-align: justify;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .history {
    background-image: url('../resources/coffee_bckgrnd.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .page_title {
    color: whitesmoke;
    padding-left: 30px;
    padding-top: 30px;
}

.b_title {
  color: whitesmoke;
    padding-left: 30px;
    padding-top: 30px;
}

.ol_list {
  color:whitesmoke;
  padding-top: 10px;
}

  .process {
    /*background-image: url('../resources/coffee_process.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;*/
    background-color: burlywood;
  }

  .process_page_title {
    color: black;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .process_step {
    padding-left: 30px;
  }

  .paragraph {
    color: black;
  }

  .results {
    background-color: burlywood;
  }

  .machine_learning {
    /*background-image: url('../resources/mach_lrning.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    background-color: burlywood;
  }

  .source_page {
    background-color: burlywood;
  }

  .source_title {
    color: black;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
    
  }

  .source_subtitles {
    text-align: center;
    text-decoration: underline;
}
  .source_articles {
    text-align: center;
  }

  .source_articles ul {
    justify-content: center;
    list-style: none;
  }


  .source_data {
    text-align: center;
  }

  .source_data ul {
    justify-content: center;
    list-style: none;
  }


/*/////////////////////////////////////*/
/*////////// Index Page ///////////////*/
/*/////////////////////////////////////*/

.index-images {
  height: 200px;
  width: 100%;
}


.index-main-holder {
  width: 100%;
  height: 275px;
  padding: 3px;
  background-color: burlywood;
}
.index-main-holder:hover {
  padding: 0px;
  border: 3px solid #361c02;
}

.index-main-holder-img{
  height: 200px;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.index-item-box {
  padding-bottom: 20px;
}

.index-text-leaders {

}
