<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Templates 101</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <!-- Render our data -->
      <h1>Economic Model For Predicting Global Retail Price</h1>
    </div>
    <div class="4-col">
      <h2>Year</h2>
      <form action="/" method="POST"> 
        <label for="year">   Year  </label> 
        <input type="text" id="year" name="year"> 
        <label for="ICO_spot">ICO Cost</label> 
        <input type="text" id="ico_cost" name="ico_cost">
        <input type="submit" value="Submit"> 
      </form> 
    
      
    
    
    </div>
    <div class="4-col">
      <h2>Predicted Retail Price (USD)</h2>
      <h1> {{ prediction }}</h1> 
    </div>
    
  </div>
</body>

</html>