<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Retail Price</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  
    <p>  </p>
    </div> <!--Beginging of data entry-->
                                          <!--Date-->
      <div class="container"><!--Data begins-->
        <div class="jumbotron text-center">
          <!-- Render our data -->
          <h2>Predicting Global Retail Coffee Price</h2>
          <h3>Based on Year & ICO Composite  </h3>
          <p>  </p>
        <form action="/" method="POST"> 
            <div class="row margin-top-50">
              <div class="col-md-2">
                <aside class="filters">
                  <div class="panel panel-default">
                    <div class="panel-heading">Select Year</div>
                    <div class="panel-body">
                      
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="year">(xxxx)</label>
                              <input class="form-control" id="year" name="year" type="text" placeholder="1990">  
                            </li>
                          </ul>
                        </div>
                    
                    </div>
                  </div>
                </aside>
              </div>                            <!--State-->
              <div class="col-md-2">  <!--state begins button 1-->
                <aside class="filters">
                  <div class="panel panel-default">
                    <div class="panel-heading">ICO Composite</div>
                    <div class="panel-body">
                      
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="ico_cost">USD/lb</label>
                              <input class="form-control" id="ico_cost" name="ico_cost" type="text" placeholder="0.86">
                            </li>
                          </ul>
                        </div>
                        
                      
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-md-2">  <!--City begins-->
                <aside class="filters">
                  <div class="panel panel-default">
                    <div class="panel-heading">Enter</div>
                    <div class="panel-body">
                      
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="sumbit"></label>
                              
                              <input type="submit" value="Submit"> 
                            </li>
                          </ul>
                        </div>
                        
                      
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-md-2">  <!--Country begins-->
                <aside class="filters">
                  <div class="panel panel-default">
                    <div class="panel-heading">Predicted Value</div>
                    <div class="panel-body">
                      
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="state">USD/lb</label>
                              <h5> {{ prediction }} </h5> 
                            </li>
                          </ul>
                        </div>
                      
                    </div>
                  </div>
                </aside>
              </div>
          </div>
        </form>
      </div> 
    </div>
   <!--   ###############          ###############    Section Two       ###############  ###############           --> 
   <!--   ###############          ###############                      ###############  ###############           --> 
    
      <!-- Render our data -->

        
      <!--Beginging of data entry-->
                                          <!--Date-->
      <div class="container"><!--Year begins-->
        <div class="jumbotron text-center">
          <h2>Predicting Global Retail Coffee Price</h2>
          <h3>Based on Year, ICO Composite, and Brent Crude Price</h3>
          <p>  </p>
        
        
          <form action="/brent" method="POST"> 
              <div class="row margin-top-50">
                <div class="col-md-2">
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">Select Year</div>
                      <div class="panel-body">
                        
                          <div class="form-group">
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <label for="year">(xxxx)</label>
                                <input class="form-control" id="year" name="year" type="text" placeholder="1990">  
                              </li>
                            </ul>
                          </div>
                      
                      </div>
                    </div>
                  </aside>
                </div>                            <!--ICO COMPOSITE-->
                <div class="col-md-2">  <!--state begins button 1-->
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">ICO Composite</div>
                      <div class="panel-body">
                        
                          <div class="form-group">
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <label for="ico_cost">USD/lb</label>
                                <input class="form-control" id="ico_cost" name="ico_cost" type="text" placeholder="0.86">
                              </li>
                            </ul>
                          </div>
                          
                        
                      </div>
                    </div>
                  </aside>
                </div>
                <div class="col-md-2">  <!--Brent CRUDE -->
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">Brent Crude </div>
                      <div class="panel-body">
                        
                          <div class="form-group">
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <label for="ico_cost">USD/Barrel</label>
                                <input class="form-control" id="brent" name="brent" type="text" placeholder="23.76">
                              </li>
                            </ul>
                          </div>

                      </div>
                    </div>
                  </aside>
                </div>
                <div class="col-md-2">  <!--City begins-->
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">Enter</div>
                      <div class="panel-body">
                        
                          <div class="form-group">
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <label for="sumbit"></label>
                                
                                <input type="submit" value="Submit"> 
                              </li>
                            </ul>
                          </div>
                          
                        
                      </div>
                    </div>
                  </aside>
                </div>
                <div class="col-md-2">  <!--Country begins-->
                  <aside class="filters">
                    <div class="panel panel-default">
                      <div class="panel-heading">Predicted Value</div>
                      <div class="panel-body">
                        
                          <div class="form-group">
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <label for="state">USD/lb</label>
                                <h5> {{ Brent_predict }} </h5> 
                              </li>
                            </ul>
                          </div>
                        
                      </div>
                    </div>
                  </aside>
                </div>
            </div>
          </form>
        
      </div> 

  <div class="container">
      
        <span class="bottom">Coffee Production and Consumption 2021 &#174;</span>
    
  </div>

  

</body>

</html>
