<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Machine Learning Portion</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../style/style.css">
    </head>


<body class="machine_learning">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="../background.html">Scenario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../process.html">The Process</a>              
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../results.html">Tableau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="../mach_lrn.html">Machine Learning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../sources.html">Our Sources</a>
          </li>
    </ul>
    <div class="container machln-container">
      <div class="row">
        <div class="col-lg-12 title-machln">
          <div class="machln-title">
            <h1>Machine Learning</h1>
            <hr id="graph-line">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 machln-primary">
          <div class="machln-title-primary">
            <img class="machln-images-primary" src="/images/graphs/map_importers.png" alt="Process Page Image">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="machln-title-primary">
            <h2>Graph 3</h2>
            <p>Some text for analysis</p>
          </div>
        </div>
      </div>
      <!--Other Options-->
      <div class="row">
        <div class="col-md-3">
          <a href="../mach_lrn.html">
            <div class="machln-title">
              <h5>Graph 1</h5>
              <img class="machln-images" src="/images/graphs/Economic_model.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph2.html">
            <div class="machln-title">
              <h5>Graph 2</h5>
              <img class="machln-images" src="/images/graphs/historical_import_production_coffe.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph3.html">
            <div class="machln-title">
              <h5>Graph 3</h5>
              <img class="machln-images" src="/images/graphs/map_importers.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph4.html">
            <div class="machln-title">
              <h5>Graph 4</h5>
              <img class="machln-images" src="/images/graphs/map_producers.png" alt="Process Page Image">
            </div>
          </a>
        </div>     
      </div>
      <!--Other Options-->
      <div class="row">
        <div class="col-md-3">
          <a href="graph5.html">
            <div class="machln-title">
              <h5>Graph 5</h5>
              <img class="machln-images" src="/images/graphs/top_10_import_countires.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph6.html">
            <div class="machln-title">
              <h5>Graph 6</h5>
              <img class="machln-images" src="/images/graphs/historic_coffe_price.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph7.html">
            <div class="machln-title">
              <h5>Graph 7</h5>
              <img class="machln-images" src="/images/graphs/top_ten_coffe_producers.png" alt="Process Page Image">
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="graph8.html">
            <div class="machln-title">
              <h5>Graph 8</h5>
              <img class="machln-images" src="/images/graphs/Weather2013.png" alt="Process Page Image">
            </div>
          </a>
        </div>     
      </div>
    </div>
</body>

</html>
